.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    margin: 24px;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.card_wrapper {
    max-width: 752px;
}

.card,
.card > * {
    border-radius: 2px;
    font-size: 16px;
    font-weight: 400;
    line-height: 130%;
}

.card_btn {
    text-align: center;
    width: 100%;
}

.card_btn > div {
    padding: 0;
    margin: 0;
}

.card_btn > div > p {
    padding: 0 12px;
}

.card_h4 {
    margin: 0;
    font-size: 1.25em;
    font-weight: 500;
    line-height: 130%;
    max-width: 665px;
}

.card_btn > div > p {
    margin: 12px 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 130%;
}

.btn {
    margin: 12px 0;
}

.btn > * {
    color: #2f54eb;
}

.social_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.social {
    background-color: #fff;
    border-radius: 2px;
    width: 240px;
}

.social_btn_wrapper {
    margin: 6px 9px;
}

.social_btn > span {
    font-size: 16px;
    line-height: 130%;
    color: #2f54eb;
}

.social_mobile {
    display: flex;
    justify-content: space-around;
    margin-bottom: 19px;
}

.link_btn > span {
    font-size: 16px;
    line-height: 130%;
    color: #2f54eb;
}

/* ------------------------- */

@media (max-width: 575px) {
    .main {
        margin: 16px;
    }
    .card > div {
        padding: 16px;
    }
}

@media (max-width: 680px) {
    .wrapper {
        flex-direction: column;
        gap: 8px;
    }
    .social_wrapper {
        flex-direction: column-reverse;
        align-items: center;
        gap: 24px 0;
        margin-top: 16px;
    }
    .social {
        width: 100%;
        text-align: center;
    }
}
