.layout {
    margin: 0 auto;
    max-width: 1440px;
}

.sider > div {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: #ffffff;
}

.logo {
    padding: 44px 46px 67px 29px;
}

.logo_small {
    padding: 44px 18px 67px 18px;
}

.logo_img {
    max-width: 133px;
    height: 33px;
}

.menu > li {
    margin: 0 0 16px -8px !important;
}

.menu_exit {
    margin: 0 0 0 -8px !important;
    border: none !important;
}

.trigger {
    top: 480px;
    left: 0;
    max-width: 20px;
    min-height: 66px;
    clip-path: polygon(0 0, 100% 15%, 100% 85%, 0% 100%);
    border: none;
}

.trigger > span {
    color: #262626;
    width: 20px;
}

.trigger > span:hover {
    color: #262626;
}
